################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Football-Squad-Builder-WebAPI/.vs/Football-Squad-Builder-WebAPI
