.football-field{
  background-size: auto; /* Maintain natural size */
  background-position: center;
  background-repeat: no-repeat; /* Prevent image repetition */
  min-height: 100vh;
  min-width: 100vw;

}