/// <reference path="../__references.scss" />
@use '../tools' as *;


.sidebar {
    width: 500px;
    // background-color: $brand-secondary;
     background-color: $color-dark-1;
    color: $color-light-1;
    font-weight: 400;
    border-radius: 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;    
    justify-content: flex-start;
    overflow: auto;


   

    &-nav{
        margin-top: 20px;
        display: flex;
        justify-content:space-evenly;
        margin-bottom: 20px;
    }


    &-dropdown{
        width: 31%;
        max-width: 31%;

        border-radius: 4px;
    }

    &-players{
        &-heading{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        &-cards{
            display: flex;
            align-items: center;
            flex-direction: column;  
            justify-content: center;
        }
    }

    //  &-section {
      
    //  }

}